body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: rgb(2, 0, 148);
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 40px;
}

p {
    font-size: 18px;
    color: #bbbbbb;
}

button {
    margin: 20px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0300c0;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

button:hover {
    background-color: #0b00aa;
}
input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    width: 200px;
    text-align: center;
}